.room-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}

.room-header {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-header-info {
    display: flex;
    flex-direction: column;
}

.search-main {
    margin-top: 16px;
}

.song-list-main {
    margin-top: 24px;
    flex-grow: 2;
    overflow: scroll;
}

.player-control-main {
    margin-top: 16px;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-skip-button {
    background: none;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    transition: background-color 200ms ease;
}

.search-input {
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    z-index: 20;
    font-size: 3rem;
    width: 100%;
    border: 0;
    font-family: Spotify;
    background: #f7f7f7;
}

.search-input:focus {
    outline: none;
}

.search-input.open {
    background: #000000cc;
    color: #ffffff;
}

.results {
    display: flex;
    flex-direction: column;
    margin: 64px 24px 24px 24px;
}

.search-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    background: transparent;
    transition: background-color 200ms ease;
}

.search-item:hover {
    background-color: black;
}

.search-item-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    margin-left: 16px;
}

.search-item-image {
    height: 150px;
}

.search-item-title {
    margin-top: 0;
    color: #ffffff;
}

.search-item-artist {
    color: #cccccc;
}

.overlay-close-button {
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    border: none;
    padding: 0;
    width: 48px;
    height: 48px;
}

.overlay {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    padding-top: 3rem;
    height: 100vh;
    width: 100vw;
    background: initial;
    overflow: auto;
    visibility: hidden;
}

.overlay.open {
    visibility: visible;
    background: #000000cc;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.user-info-name {
    margin-left: 12px
}

.authenticate-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room-start-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.song-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    margin-bottom: 8px;
}

.song-list-item-artist {
    color: #a9a9a9;
}

.song-list-item-vote-button {
    background: none;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    transition: background-color 200ms ease;
}

.song-list-item-vote-button:hover {
    background-color: #a9a9a94d;
}

.song-list-item-votes {
    margin-left: 16px;
    margin-right: 8px;
}

.song-list-item-image {
    height: 100%;
    width: 100px;
}

.song-list-item-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    margin-left: 16px;
}

.do-not-show {
    visibility: hidden;
}