.room-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}

.room-header {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-main {
    margin-top: 16px;
}

.song-list-main {
    margin-top: 16px;
    flex-grow: 2;
}

.player-control-main {
    margin-top: 16px;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border-radius: 5px;
    padding-left: 16px;
    position: relative;
    z-index: 20;
    font-size: 3rem;
    width: 100%;
    border: 0;
    font-family: Spotify;
    background: #ffffff;
}

.search-input:focus {
    outline: none;
}

.search-input.open {
    background: #000000cc;
    color: #ffffff;
}

.results {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.search-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.search-item-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    margin-left: 16px;
}

.search-item-image {
    height: 150px;
}

.search-item-title {
    color: #ffffff;
}

.search-item-artist {
    color: #cccccc;
}

.search-item-add-button {

}

.overlay-close-button {
    position: absolute;
    right: 16px;
    top: 16px;
}

.overlay {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    padding-top: 3rem;
    height: 100vh;
    width: 100vw;
    background: initial;
    overflow: auto;
    visibility: hidden;
}

.overlay.open {
    visibility: visible;
    background: #000000cc;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.user-info-name {
    margin-left: 12px
}

.authenticate-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room-start-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.song-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.song-list-item-image {
    height: 100%;
    width: 100px;
}

.song-list-item-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    margin-left: 16px;
}